name: Publish

on:
  pull_request_target:
    types:
      - labeled

jobs:
  pr-pull:
    if: contains(github.event.pull_request.labels.*.name, 'pr-pull')
    runs-on: ubuntu-22.04
    permissions:
      actions: read
      checks: read
      contents: write
      issues: read
      pull-requests: write
    env:
      PULL_REQUEST: ${{ github.event.pull_request.number }}
      PR_BRANCH: ${{ github.event.pull_request.head.ref }}
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master
        with:
          token: ${{ github.token }}

      - name: Set up git
        uses: Homebrew/actions/git-user-config@master

      - name: Determine tap path
        run: echo "TAP_DIR=$(brew --repo \"$GITHUB_REPOSITORY\")" >> "$GITHUB_ENV"

      - name: Check out PR branch
        run: |
          git -C "$TAP_DIR" fetch origin "+${PR_BRANCH}:${PR_BRANCH}"
          git -C "$TAP_DIR" checkout "${PR_BRANCH}"

      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ github.token }}
        working-directory: ${{ env.TAP_DIR }}
        run: brew pr-pull --debug --branch-okay --tap="$GITHUB_REPOSITORY" "$PULL_REQUEST"

      - name: Push commits to PR branch
        run: git -C "$TAP_DIR" push origin "${PR_BRANCH}"
